@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: 'Montseratt', sans-serif;
  color: #000;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1440px;
  margin: 0px auto;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1440px;
  margin: 0px auto;
  padding: 0 20px;
}

.header {
  background-color: #C1FFBC;
}

.header__body {
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-header__icon.icon-active span:first-child {
  top: 45%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-header__icon.icon-active span:nth-child(2) {
  -webkit-transform: scale(0) translate(0px, 50%);
          transform: scale(0) translate(0px, 50%);
}

.menu-header__icon.icon-active span:last-child {
  top: 45%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media (max-width: 768px) {
  .menu-header__icon {
    z-index: 10;
    display: block;
    position: relative;
    width: 50px;
    height: 28px;
    cursor: pointer;
  }
  .menu-header__icon span:first-child {
    right: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: #000000;
    top: 0;
  }
  .menu-header__icon span:last-child {
    right: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: #000000;
    bottom: 0;
  }
  .menu-header__icon span:nth-child(2) {
    top: 40%;
    -webkit-transform: scale(1) translate(0px, 50%);
            transform: scale(1) translate(0px, 50%);
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: #000000;
  }
}

@media (max-width: 768px) {
  .menu-header__menu {
    position: fixed;
    z-index: 8;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background: #f7f6f6;
    -webkit-transition: right 0.5s ease 0s;
    transition: right 0.5s ease 0s;
    overflow: auto;
  }
  .menu-header__menu.active {
    right: 0%;
  }
}

.menu-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-header__list li {
  margin-left: 30px;
}

@media (max-width: 768px) {
  .menu-header__list {
    position: relative;
    z-index: 25;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 70px 0 70px 0;
    font-size: 30px;
    gap: 20px;
  }
  .menu-header__list li {
    margin-left: 0;
  }
}

.menu-header__link {
  color: inherit;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu-header__link:hover {
  color: #585858;
}

.hero {
  padding: 50px 0 50px 0;
  background-color: #dacdfd;
}

.hero__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__photo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 300px;
          flex: 0 1 300px;
  height: 300px;
  position: relative;
}

@media (max-width: 767px) {
  .hero__photo {
    margin-bottom: 20px;
  }
}

.hero__photo img {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 5px 5px 5px #686767;
          box-shadow: 5px 5px 5px #686767;
  border: 2px solid #dacdfd;
}

.hero__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin-left: 50px;
}

@media (max-width: 767px) {
  .hero__text {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    text-align: center;
    margin-left: 0;
  }
}

.hero__title {
  font-size: 50px;
  margin-bottom: 10px;
}

.hero__subtitle {
  font-size: 26px;
}
