@import "_zero.scss";
@import url(https://fonts.googleapis.com/css?family=Patrick+Hand:regular);

html {
   scroll-behavior: smooth;
}
body {
   font-family: "Patrick Hand", sans-serif;
   color: #000;
   background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgb(216, 70, 252) 100%);
   background-size: 400% 400%;
   animation: gradient-body 15s ease infinite;
   @keyframes gradient-body {
      0% {
         background-position: 0% 50%;
      }
      50% {
         background-position: 100% 50%;
      }
      100% {
         background-position: 0% 50%;
      }
   }
}

.wrapper {
   display: flex;
   overflow: hidden;
   min-height: 100vh;
   flex-direction: column;
   max-width: 1440px;
   margin: 0px auto;
}

.main {
   flex: 1 1 auto;
}

.container {
   max-width: 1440px;
   margin: 0px auto;
   padding: 0 20px;
}

.title {
   color: #e1e4e8;
   line-height: 1.2;
   font-size: 45px;
   margin-bottom: 20px;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   &:after {
      content: '';
      margin: 15px 0 15px 0;
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      max-width: 350px;
      height: 10px;
      display: inline-block;
      background: linear-gradient(
         90deg,
         rgba(131, 58, 180, 1) 0%,
         rgba(253, 29, 29, 1) 50%,
         rgba(252, 176, 69, 1) 100%
      );
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
      border-radius: 1px;
      @keyframes gradient {
         0% {
            background-position: 0% 50%;
         }
         50% {
            background-position: 100% 50%;
         }
         100% {
            background-position: 0% 50%;
         }
      }
   }
}

// ------------------ header ---------------------- //

.header {
   &__body {
      min-height: 50px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
   }
}

.menu-header {
   &__icon {
      &.icon-active {
         span:first-child {
            top: 45%;
            transform: rotate(-45deg);
         }
         span:nth-child(2) {
            transform: scale(0) translate(0px, 50%);
         }
         span:last-child {
            top: 45%;
            transform: rotate(45deg);
         }
      }
      @media (max-width: 768px) {
         z-index: 10;
         display: block;
         position: relative;
         width: 50px;
         height: 28px;
         cursor: pointer;
         span:first-child {
            right: 0;
            position: absolute;
            height: 10%;
            width: 100%;
            transition: all 0.3s ease 0s;
            background: #000000;
            top: 0;
         }
         span:last-child {
            right: 0;
            position: absolute;
            height: 10%;
            width: 100%;
            transition: all 0.3s ease 0s;
            background: #000000;
            bottom: 0;
         }
         span:nth-child(2) {
            top: 40%;
            transform: scale(1) translate(0px, 50%);
            right: 0;
            bottom: 0;
            left: 0;
            position: absolute;
            height: 10%;
            width: 100%;
            transition: all 0.3s ease 0s;
            background: #000000;
         }
      }
   }

   &__menu {
      @media (max-width: 768px) {
         position: fixed;
         z-index: 8;
         top: 0;
         right: -100%;
         width: 100%;
         height: 100%;
         background: rgb(247, 246, 246);
         transition: right 0.5s ease 0s;
         overflow: auto;
         &.active {
            right: 0%;
         }
      }
   }

   &__list {
      display: flex;
      justify-content: center;
      font-size: 25px;
      li {
         margin-left: 30px;
      }
      @media (max-width: 768px) {
         position: relative;
         z-index: 25;
         flex-direction: column;
         align-items: center;
         padding: 70px 0 70px 0;
         font-size: 30px;
         gap: 20px;
         li {
            margin-left: 0;
         }
      }
   }

   &__link {
      color: inherit;
      transition: 0.3s;
      &:hover {
         color: #fff;
      }
   }
}

// --------------------- section hello ------------------------ //

.hero {
   padding: 50px 0 50px 0;

   &__body {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
   }

   &__photo {
      flex: 0 1 300px;
      height: 300px;
      position: relative;
      @media (max-width: 767px) {
         margin-bottom: 20px;
      }
      img {
         border-radius: 50%;
         position: absolute;
         z-index: 1;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
         box-shadow: 15px 15px 5px 10px rgb(95, 58, 180);
         border: 2px solid #dacdfd;
      }
   }

   &__text {
      flex: 0 1 50%;
      margin-left: 50px;
      @media (max-width: 767px) {
         flex: 1 1 100%;
         text-align: center;
         margin-left: 0;
      }
   }

   &__title {
      font-size: 50px;
      margin-bottom: 10px;
   }

   &__subtitle {
      font-size: 26px;
   }
}

// ----------------------- about me --------------------- //

.about {
   padding: 50px 0 0px 0;


   &__text {
      font-size: 20px;
      line-height: 1.5;
      background-color: #dacdfd;
      border-radius: 10px;
      padding: 10px;
      background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
      background-size: 400% 400%;
      animation: gradient-text 15s ease infinite;
      @keyframes gradient-text {
         0% {
            background-position: 0% 50%;
         }
         50% {
            background-position: 100% 50%;
         }
         100% {
            background-position: 0% 50%;
         }
      }
   }
}

// ----------------- skills --------------------------- //

.skills {
   padding: 50px 0 0 0;
   &__body {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
      column-gap: 60px;
      padding: 20px 0 0 0;
   }
   &__progress-bar {
      flex: 0 1 45%;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (max-width: 650px) {
         flex: 0 1 100%;
      }
   }

   &__name {
      flex: 0 1 10%;
      font-size: 26px;
      margin-right: 20px;
   }

   &__progress {
      width: 100%;
      max-width: 400px;
      height: 20px;
      background: #e1e4e8;
      border-radius: 10px;
      overflow: hidden;
   }

   &__bar {
      text-align: center;
      font-size: 20px;
      padding: 0px 15px 2px 10px;
      display: block;
      height: 100%;
      background: linear-gradient(
         90deg,
         #ffd33d,
         #ea4aaa 17%,
         #b34bff 34%,
         #01feff 51%,
         #ffd33d 68%,
         #ea4aaa 85%,
         #b34bff
      );
      background-size: 300% 100%;
      animation: progress-animation 2s linear infinite;

      @keyframes progress-animation {
         0% {
            background-position: 100%;
         }
         100% {
            background-position: 0;
         }
      }
   }
}

// ----------------- code --------------- //

.code {
   padding: 50px 0;
   &__body {
      overflow: hidden;
      background: radial-gradient(circle, rgba(245, 245, 246, 1) 0%, rgba(153, 134, 138, 1) 88%);
      background-size: 400% 400%;
      animation: gradient-text 15s ease infinite;
      @keyframes gradient-text {
         0% {
            background-position: 0% 50%;
         }
         50% {
            background-position: 100% 50%;
         }
         100% {
            background-position: 0% 50%;
         }
      }
      border-radius: 10px;
      display: flex;
      justify-content: center;
   }

   &__example {
      overflow: auto;
      font-size: 20px;
      text-align: left;
      padding: 20px;
      margin-left: -220px;
      span:first-child {
         margin-left: 115px;
      }
      @media (max-width: 800px) {
         text-align: left;
      }
   }
}

// ---------------------------- projects ----------------------------- //

.projects {
   padding: 0 0 100px 0;

   &__row {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -15px;
      overflow: auto;
      @media (max-width: 768px) {
         flex-wrap: nowrap;
         flex-direction: row;
      }
      @media (max-width: 500px) {
         margin: 0 -10px;
      }
   }

   &__column {
      padding: 0 15px;
      flex: 0 1 33.333%;
      display: flex;
      margin-bottom: 30px;
      @media (max-width: 1024px) {
         flex: 0 1 50%;
         
      }
      @media (max-width: 768px) {
         flex: 0 0 93%;
      }
      @media (max-width: 500px) {
         padding: 0 10px;
      }
   }

   &__item {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      background: rgba(146, 69, 197, 0.979);
      border-radius: 10px;
   }

   &__img {
      position: relative;
      padding-top: 63%;
      overflow: hidden;
      @media (max-width: 500px) {
         padding-top: 80%;
      }
      img {
         border-radius: 10px 10px 0 0;
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
         transition: 0.3s;
         @media (min-width: 768px) {
            &:hover {
               transform: scale(1.05);
            }
         }
      }
   }



   &__subtitle {
      transition: 0.5s ease;
      position: absolute;
      top: 0;
      left: -100%;
      background-color: #dacdfd88;
      backdrop-filter: blur(5px);
      color: #000;
      height: 100%;
      width: 100%;
      z-index: 10;
      padding: 20px;
      font-size: 26px;
      overflow: auto;
      line-height: 1.2;
      &.active-projects {
         left: 0;
      }
   }

   &__description {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      padding: 20px;
      @media (max-width: 500px) {
         padding: 10px;
      }
   }

   &__title-item {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: inherit;
      margin-bottom: 20px;
      font-size: 30px;
      @media (max-width: 500px) {
         font-size: 25px;
      }
      padding: 5px;
      border-radius: 10px;
      background: linear-gradient(
         90deg,
         #ffd33d,
         #ea4aaa 17%,
         #b34bff 34%,
         #01feff 51%,
         #ffd33d 68%,
         #ea4aaa 85%,
         #b34bff
      );
      background-size: 300% 100%;
      animation: progress-animation 10s linear infinite;

      @keyframes progress-animation {
         0% {
            background-position: 100%;
         }
         100% {
            background-position: 0;
         }
      }
      &:hover {
         animation: progress-animation 1s linear infinite;
      }
   }

   &__use-skills {
      font-size: 26px;
      text-align: center;
      margin: 0 0 10px 0;
   }

   &__skills {
      margin-bottom: 10px;
      flex: 1 1 auto;
   }

   &__buttons {
      display: flex;
      justify-content: center;
      gap: 20px;
   }

   &__link-description,
   &__link-src {
      color: #000;
      border-radius: 10px;
      font-size: 20px;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      padding: 10px 0;
      flex: 0 1 70%;
      background: linear-gradient(
         90deg,
         #ffd33d,
         #ea4aaa 17%,
         #b34bff 34%,
         #01feff 51%,
         #ffd33d 68%,
         #ea4aaa 85%,
         #b34bff
      );
      background-size: 300% 100%;
      animation: progress-animation 10s linear infinite;

      @keyframes progress-animation {
         0% {
            background-position: 100%;
         }
         100% {
            background-position: 0;
         }
      }
      &:hover {
         animation: progress-animation 1s linear infinite;
      }
   }
   &__link-description {
      flex: 0 1 30%;
      padding: 0 10px;
   }
}

